$text-color: #333333;
$primary-color: #337ab7;
$background-color: #f3f3f3;

// NU Colors
$primary-blue: #34418e;
$primary-yellow: #ffcf22;

$font-size: 25px;

$card-width: 12rem; 

$card-gutter: 0.5rem;
